
         
        th{
            background-color:blue;
            font-family:sans-serif;}
            h1{color:brown;
            text-align:center;
        font-family:algerian;}
        body{
       background-color:rgb(105, 228, 255);
            text-align:center;
            padding: 10px;
            margin:10px;
            font-size:26px;
        }
        tr{
            background-color:white;
            text-align:center;
            color:black;
            font-family:verdana;
            font-size:17px;
            
        }

